---
import { AstroFont } from "astro-font";
import Footer from "~/components/footer.astro";
import Splash from "~/components/splash.astro";
import "~/styles/index.css";
import SEOMetadata from "~/components/seo-metadata.astro";

const description =
  "Astronetix is a space technology company that develops and deploys space-based solutions for the commercial and government sectors.";
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth">
  <head>
    <meta charset="utf-8" />

    <SEOMetadata
      siteName="Astronetix"
      title="Astronetix | Space Technology Company | United States"
      description={description}
      astroSitemap={false}
      canonicalUrl={Astro.url.toString()}
      type="website"
    />

    <AstroFont
      config={[
        {
          src: [],
          preload: false,
          display: "swap",
          fallback: "sans-serif",
          name: "Inter Variable",
          cssVariable: "font-inter",
          googleFontsURL:
            "https://fonts.googleapis.com/css2?family=Inter:wght@100..900",
        },
      ]}
    />
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Splash />
    <Footer />
  </body>
</html>
