---
import Splash from '~/components/splash.astro';
import '~/styles/global.css';
import SEOMetadata from '~/components/seo-metadata.astro';
const description =
  'AstroNetix provides modern defense solutions across the disciplines of Space, Cyber, and System Integration.';
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth">
  <head>
    <meta charset="utf-8" />

    <SEOMetadata
      siteName="Astronetix"
      title="Astronetix | Space Technology Company | United States"
      description={description}
      astroSitemap={false}
      canonicalUrl={Astro.url.toString()}
      type="website"
    />

  </head>
  <body class="selection:bg-secondary h-full overflow-x-hidden selection:text-white font-inter">
    <Splash />
  </body>
</html>
